.AddProductBlock .AddProductText {
  margin: 0;
  padding: 0;
}

.AddProductBlock .Form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 10px 0;
  width: 300px;
}

.AddProductBlock .Form .FormLabel {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.AddProductBlock .Form .FormLabel:nth-child(n + 2) {
  margin-top: 5px;
}

.AddProductBlock .Form .FormInput {
  flex-grow: 1;
  margin-left: 10px;
}

.AddProductBlock .Form .FormError {
  position: absolute;
  top: 50%;
  right: -10px;
  transform: translate(100%, -50%);
  color: red;
}

.AddProductBlock .Form .FormButtons {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
  min-width: 50%;
}
