.TableData {
  padding: 10px 20px;
  border: 1px solid #ccc;
  text-align: center;
  cursor: pointer;
}

.TableData .ProductImage {
  width: 100px;
  max-height: 100px;
}

.SelectedProduct {
  background-color: cornflowerblue;
  cursor: pointer;
}
